@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

*:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  border-bottom: 1px solid lightslategrey;
  border-radius: 5px;
  padding: 13px;
  margin: 5px;
  width: 300px;
  color: lightslategrey;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  color: lightslategrey;
  border: 1px solid lightslategrey;
  background-color: whitesmoke;
  border-radius: 5px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  background-color: lightslategrey;
}

.card {
  background-color: white;
  margin: 7px;
  padding: 10px 30px;
  width: 400px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px, rgba(0, 0, 0, 0.09) 0px 1px 2px;
}
